<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hong.CashGuard.domain.board.domain.CgBoardMapper">

    <insert id="insert" parameterType="CgBoard">
        /* cgBoard.insert */
        INSERT INTO CASH_GUARD.CG_BOARD (
             BBS_UID
            ,GROUP_UID
            ,TITLE
            ,CONTENT
            ,FILE_UID
            ,THUMB_UID
            ,REG_UID
            ,REG_DT
            ,UPDT_UID
            ,UPDT_DT
            ,DELETE_AT
        ) VALUES (
             #{bbsUid}
            ,#{groupUid}
            ,#{title}
            ,#{content}
            ,#{fileUid}
            ,#{thumbUid}
            ,#{regUid}
            ,NOW()
            ,#{updtUid}
            ,NOW()
            ,'N'
        )
    </insert>

    <select id="view" parameterType="Long" resultType="CgBoard">
        /* cgBoard.view */
        SELECT UID
              ,BBS_UID
              ,GROUP_UID
              ,TITLE
              ,CONTENT
              ,FILE_UID
              ,THUMB_UID
              ,REG_UID
              ,REG_DT
              ,UPDT_UID
              ,UPDT_DT
              ,DELETE_AT
          FROM CASH_GUARD.CG_BOARD
         WHERE UID = #{uid}
    </select>

    <update id="update" parameterType="CgBoard">
        /* cgBoard.update */
        UPDATE CASH_GUARD.CG_BOARD
           SET TITLE = #{title}
              ,CONTENT = #{content}
              ,FILE_UID = #{fileUid}
              ,THUMB_UID = #{thumbUid}
              ,UPDT_UID = #{updtUid}
              ,UPDT_DT = NOW()
         WHERE UID = #{uid}
    </update>

    <delete id="delete" parameterType="CgBoard">
        /* cgBoard.delete */
        UPDATE CASH_GUARD.CG_BOARD
           SET DELETE_AT = 'Y'
              ,UPDT_UID = #{updtUid}
              ,UPDT_DT = NOW()
         WHERE UID = #{uid}
    </delete>

    <select id="page" parameterType="CgBoardParam" resultType="CgBoardList">
        /* cgBoard.page */
        SELECT CBBS.UID AS BBS_UID
              ,CBBS.BBS_NM AS BBS_NM
              ,CBBS.BBS_TP_CD AS BBS_TP_CD
              ,CASE WHEN CBBS.BBS_TP_CD = 'NOTICE' THEN '공지사항'
                    WHEN CBBS.BBS_TP_CD = 'BOARD' THEN '자유 게시판'
                    WHEN CBBS.BBS_TP_CD = 'QNA' THEN '질의 응답'
                    WHEN CBBS.BBS_TP_CD = 'FAQ' THEN 'faq'
                END AS BBS_TP_CD_NM
              ,CGROUP.UID AS GROUP_UID
              ,CGROUP.GROUP_NM AS GROUP_NM
              ,CBOARD.UID AS BOARD_UID
              ,CBOARD.TITLE AS TITLE
              ,CBOARD.CONTENT AS CONTENT
              ,CBOARD.FILE_UID AS FILE_UID
              ,CBOARD.THUMB_UID AS THUMB_UID
              ,CBOARD.DELETE_AT AS DELETE_AT
              ,CBOARD.REG_UID AS REG_UID
              ,CBOARD.REG_DT AS REG_DT
              ,CU_REG.USER_NM AS REG_NM
              ,CBOARD.UPDT_UID AS UPDT_UID
              ,CBOARD.UPDT_DT AS UPDT_DT
              ,CU_UPDT.USER_NM AS UPDR_NM
          FROM CASH_GUARD.CG_BOARD CBOARD
         INNER JOIN CASH_GUARD.CG_BBS CBBS ON CBBS.UID = CBOARD.BBS_UID
         INNER JOIN CASH_GUARD.CG_GROUP CGROUP ON CGROUP.UID = CBOARD.GROUP_UID
          LEFT JOIN CASH_GUARD.CG_USER CU_REG ON CU_REG.UID = CBOARD.REG_UID
          LEFT JOIN CASH_GUARD.CG_USER CU_UPDT ON CU_UPDT.UID = CBOARD.UPDT_UID
         WHERE 1 = 1
           AND CBOARD.DELETE_AT = 'N'
           AND CBOARD.BBS_UID = #{bbsUid}
           AND CBOARD.GROUP_UID = #{groupUid}
        <if test="title != null and title != ''">
           AND CBOARD.TITLE LIKE CONCAT('%',#{title},'%')
        </if>
        <if test="regNm != null and regNm != ''">
           AND CU_REG.USER_NM LIKE CONCAT('%',#{regNm},'%')
        </if>
         ORDER BY CBOARD.REG_DT DESC
        <if test="startNumber != null and endNumber != null">
         LIMIT #{endNumber} OFFSET #{startNumber}
        </if>
    </select>

    <select id="count" resultType="int" parameterType="CgBoardParam">
        /* cgBoard.count */
        SELECT COUNT(*)
          FROM CASH_GUARD.CG_BOARD CBOARD
         INNER JOIN CASH_GUARD.CG_BBS CBBS ON CBBS.UID = CBOARD.BBS_UID
         INNER JOIN CASH_GUARD.CG_GROUP CGROUP ON CGROUP.UID = CBOARD.GROUP_UID
          LEFT JOIN CASH_GUARD.CG_USER CU_REG ON CU_REG.UID = CBOARD.REG_UID
          LEFT JOIN CASH_GUARD.CG_USER CU_UPDT ON CU_UPDT.UID = CBOARD.UPDT_UID
         WHERE 1 = 1
           AND CBOARD.DELETE_AT = 'N'
           AND CBOARD.BBS_UID = #{bbsUid}
           AND CBOARD.GROUP_UID = #{groupUid}
        <if test="title != null and title != ''">
           AND CBOARD.TITLE LIKE CONCAT('%',#{title},'%')
        </if>
        <if test="regNm != null and regNm != ''">
           AND CU_REG.USER_NM LIKE CONCAT('%',#{regNm},'%')
        </if>
    </select>


    <select id="list" parameterType="CgBoardParam" resultType="CgBoardList">
        /* cgBoard.list */
        SELECT CBBS.UID AS BBS_UID
              ,CBBS.BBS_NM AS BBS_NM
              ,CBBS.BBS_TP_CD AS BBS_TP_CD
              ,CASE WHEN CBBS.BBS_TP_CD = 'NOTICE' THEN '공지사항'
                    WHEN CBBS.BBS_TP_CD = 'BOARD' THEN '자유 게시판'
                    WHEN CBBS.BBS_TP_CD = 'QNA' THEN '질의 응답'
                    WHEN CBBS.BBS_TP_CD = 'FAQ' THEN 'faq'
                END AS BBS_TP_CD_NM
              ,CGROUP.UID AS GROUP_UID
              ,CGROUP.GROUP_NM AS GROUP_NM
              ,CBOARD.UID AS BOARD_UID
              ,CBOARD.TITLE AS TITLE
              ,CBOARD.CONTENT AS CONTENT
              ,CBOARD.FILE_UID AS FILE_UID
              ,CBOARD.THUMB_UID AS THUMB_UID
              ,CBOARD.DELETE_AT AS DELETE_AT
              ,CBOARD.REG_UID AS REG_UID
              ,CBOARD.REG_DT AS REG_DT
              ,CU_REG.USER_NM AS REG_NM
              ,CBOARD.UPDT_UID AS UPDT_UID
              ,CBOARD.UPDT_DT AS UPDT_DT
              ,CU_UPDT.USER_NM AS UPDR_NM
          FROM CASH_GUARD.CG_BOARD CBOARD
         INNER JOIN CASH_GUARD.CG_BBS CBBS ON CBBS.UID = CBOARD.BBS_UID
         INNER JOIN CASH_GUARD.CG_GROUP CGROUP ON CGROUP.UID = CBOARD.GROUP_UID
          LEFT JOIN CASH_GUARD.CG_USER CU_REG ON CU_REG.UID = CBOARD.REG_UID
          LEFT JOIN CASH_GUARD.CG_USER CU_UPDT ON CU_UPDT.UID = CBOARD.UPDT_UID
         WHERE 1 = 1
           AND CBOARD.DELETE_AT = 'N'
           AND CBOARD.BBS_UID = #{bbsUid}
           AND CBOARD.GROUP_UID = #{groupUid}
        <if test="title != null and title != ''">
           AND CBOARD.TITLE LIKE CONCAT('%',#{title},'%')
        </if>
        <if test="regNm != null and regNm != ''">
           AND CU_REG.USER_NM LIKE CONCAT('%',#{regNm},'%')
        </if>
         ORDER BY CBOARD.REG_DT DESC
    </select>

    <select id="getDetail" parameterType="Long" resultType="CgBoardView">
        /* cgBoard.getDetail */
        SELECT CBBS.UID AS BBS_UID
              ,CBBS.BBS_NM AS BBS_NM
              ,CBBS.BBS_TP_CD AS BBS_TP_CD
              ,CASE WHEN CBBS.BBS_TP_CD = 'NOTICE' THEN '공지사항'
                    WHEN CBBS.BBS_TP_CD = 'BOARD' THEN '자유 게시판'
                    WHEN CBBS.BBS_TP_CD = 'QNA' THEN '질의 응답'
                    WHEN CBBS.BBS_TP_CD = 'FAQ' THEN 'faq'
                END AS BBS_TP_CD_NM
              ,CGROUP.UID AS GROUP_UID
              ,CGROUP.GROUP_NM AS GROUP_NM
              ,CBOARD.UID AS BOARD_UID
              ,CBOARD.TITLE AS TITLE
              ,CBOARD.CONTENT AS CONTENT
              ,CBOARD.FILE_UID AS FILE_UID
              ,CBOARD.THUMB_UID AS THUMB_UID
              ,CBOARD.DELETE_AT AS DELETE_AT
              ,CBOARD.REG_UID AS REG_UID
              ,CBOARD.REG_DT AS REG_DT
              ,CU_REG.USER_NM AS REG_NM
              ,CBOARD.UPDT_UID AS UPDT_UID
              ,CBOARD.UPDT_DT AS UPDT_DT
              ,CU_UPDT.USER_NM AS UPDR_NM
          FROM CASH_GUARD.CG_BOARD CBOARD
         INNER JOIN CASH_GUARD.CG_BBS CBBS ON CBBS.UID = CBOARD.BBS_UID
         INNER JOIN CASH_GUARD.CG_GROUP CGROUP ON CGROUP.UID = CBOARD.GROUP_UID
          LEFT JOIN CASH_GUARD.CG_USER CU_REG ON CU_REG.UID = CBOARD.REG_UID
          LEFT JOIN CASH_GUARD.CG_USER CU_UPDT ON CU_UPDT.UID = CBOARD.UPDT_UID
         WHERE CBOARD.UID = #{uid}
    </select>
</mapper>