<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hong.CashGuard.global.hong.ollama.domain.CustomJdbcMapper">

    <select id="getIndex" resultType="int" parameterType="String">
        /* customJdbc.getIndex */
        SELECT COALESCE(MAX(MESSAGE_INDEX), -1) + 1
          FROM CASH_GUARD.CG_CHAT_MEMORY
         WHERE SESSION_ID = #{sessionId}
    </select>

    <insert id="insertConversation" parameterType="CgChatMemory">
        /* customJdbc.insertConversation */
        INSERT INTO CASH_GUARD.CG_CHAT_MEMORY (
             SESSION_ID
            ,MESSAGE_INDEX
            ,ROLE
            ,CONTENT
            ,USER_ID
            ,DELETE_AT
        ) VALUES (
             #{sessionId}
            ,#{messageIndex}
            ,#{role}
            ,#{content}
            ,#{userId}
            ,'N'
        )
    </insert>

    <select id="getChatList" parameterType="map" resultType="CgChatMemory">
        /* customJdbc.getChatList */
        SELECT ROLE
              ,CONTENT
          FROM CASH_GUARD.CG_CHAT_MEMORY
         WHERE SESSION_ID = #{sessionId}
           AND DELETE_AT = 'N'
         ORDER BY MESSAGE_INDEX DESC
         LIMIT #{limit}
    </select>

    <update id="clearBySessionId" parameterType="String">
        /* customJdbc.clearBySessionId */
        UPDATE CASH_GUARD.CG_CHAT_MEMORY
           SET DELETE_AT = 'Y'
         WHERE SESSION_ID = #{sessionId}
    </update>

    <update id="clearByUserId" parameterType="String">
        /* customJdbc.clearByUserId */
        UPDATE CASH_GUARD.CG_CHAT_MEMORY
           SET DELETE_AT = 'Y'
         WHERE USER_id = #{userId}
    </update>

</mapper>