<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hong.CashGuard.domain.calendar.domain.CgCalendarMapper">

    <insert id="insert" parameterType="CgCalendar">
        /* cgCalendar.insert */
        INSERT INTO CASH_GUARD.CG_CALENDAR_EVENT (
             TRANS_UID
            ,START_DATE
            ,END_DATE
            ,ALL_DAY
            ,BG_COLOR
            ,BORDER_COLOR
            ,TEXT_COLOR
            ,USER_UID
        ) VALUES (
             #{transUid}
            ,#{startDate}
            ,#{endDate}
            ,#{allDay}
            ,#{bgColor}
            ,#{borderColor}
            ,#{textColor}
            ,#{userUid}
        )
    </insert>

    <update id="update" parameterType="CgCalendar">
        /* cgCalendar.update */
        UPDATE CASH_GUARD.CG_CALENDAR_EVENT
           SET START_DATE = #{startDate}
              ,END_DATE = #{endDate}
              ,ALL_DAY = #{allDay}
         WHERE TRANS_UID = #{transUid}
    </update>

    <select id="getDetail" resultType="CgCalendarView" parameterType="Long">
        /* cgCalendar.getDetail */
        SELECT CCE.UID AS CALENDAR_UID
              ,CCE.USER_UID
              ,CU_USER.USER_NM AS USER_NM
              ,CCE.START_DATE
              ,CCE.END_DATE
              ,CCE.ALL_DAY
              ,CCE.BG_COLOR
              ,CCE.BORDER_COLOR
              ,CCE.TEXT_COLOR
          FROM CASH_GUARD.CG_CALENDAR_EVENT CCE
          LEFT JOIN CASH_GUARD.CG_USER CU_USER ON CU_USER.UID = CCE.USER_UID
         WHERE CCE.TRANS_UID = #{transUid}
    </select>
</mapper>