<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hong.CashGuard.domain.file.domain.CgFileMapper">

    <select id="generateKey" resultType="Long">
        /* cgFile.generateKey */
        SELECT NVL(MAX(UID)+1, 1) AS UID
          FROM CASH_GUARD.CG_FILE
    </select>

    <insert id="insert" parameterType="CgFile">
        /* cgFile.insert */
        INSERT INTO CASH_GUARD.CG_FILE (
             UID
            ,FILE_URL
            ,FILE_ID
            ,FILE_NM
            ,FILE_TYPE
            ,FILE_SIZE
            ,FILE_PATH
            ,EXTENSION
            ,DOWNLOAD_CNT
            ,DELETE_AT
            ,SAVED
            ,REG_UID
            ,REG_DT
            ,UPDT_UID
            ,UPDT_DT
        ) VALUES (
             #{uid}
            ,#{fileUrl}
            ,#{fileId}
            ,#{fileNm}
            ,#{fileType}
            ,#{fileSize}
            ,#{filePath}
            ,#{extension}
            ,0
            ,'N'
            ,#{saved}
            ,#{regUid}
            ,NOW()
            ,#{updtUid}
            ,NOW()
        )
    </insert>

    <delete id="delete" parameterType="CgFile">
        /* cgFile.delete */
        UPDATE CASH_GUARD.CG_FILE
           SET SAVED = #{saved}
              ,DELETE_AT = 'Y'
              ,UPDT_UID = #{updtUid}
              ,UPDT_DT = NOW()
         WHERE FILE_URL = #{fileUrl}
    </delete>

    <select id="list" parameterType="CgFile" resultType="CgFileList">
        /* cgFile.list */
        SELECT CF.UID
              ,CF.FILE_URL
              ,CF.FILE_ID
              ,CF.FILE_NM
              ,CF.FILE_TYPE
              ,CF.FILE_SIZE
              ,CF.FILE_PATH
              ,CF.EXTENSION
              ,CF.DOWNLOAD_CNT
              ,CF.SAVED
              ,CF.REG_UID
              ,CF.REG_DT
              ,CU_REG.USER_NM AS REG_NM
              ,CF.UPDT_UID
              ,CF.UPDT_DT
              ,CU_UPDT.USER_NM AS UPDT_NM
          FROM CASH_GUARD.CG_FILE CF
          LEFT JOIN CASH_GUARD.CG_USER CU_REG ON CU_REG.UID = CF.REG_UID
          LEFT JOIN CASH_GUARD.CG_USER CU_UPDT ON CU_UPDT.UID = CF.UPDT_UID
         WHERE UID = #{uid}
           AND DELETE_AT = 'N'
           AND SAVED = #{saved}
    </select>


    <select id="view" parameterType="String" resultType="CgFile">
        /* cgFile.view */
        SELECT CF.UID
              ,CF.FILE_URL
              ,CF.FILE_ID
              ,CF.FILE_NM
              ,CF.FILE_TYPE
              ,CF.FILE_SIZE
              ,CF.FILE_PATH
              ,CF.EXTENSION
              ,CF.DOWNLOAD_CNT
              ,CF.SAVED
              ,CF.REG_UID
              ,CF.REG_DT
              ,CU_REG.USER_NM AS REG_NM
              ,CF.UPDT_UID
              ,CF.UPDT_DT
              ,CU_UPDT.USER_NM AS UPDT_NM
          FROM CASH_GUARD.CG_FILE CF
          LEFT JOIN CASH_GUARD.CG_USER CU_REG ON CU_REG.UID = CF.REG_UID
          LEFT JOIN CASH_GUARD.CG_USER CU_UPDT ON CU_UPDT.UID = CF.UPDT_UID
         WHERE FILE_ID = #{fileId}
           AND DELETE_AT = 'N'
           AND SAVED = 'SAVED'
    </select>

    <update id="updateDownloadCnt" parameterType="CgFile">
        /* cgFile.updateDownloadCnt */
        UPDATE CASH_GUARD.CG_FILE
           SET DOWNLOAD_CNT = #{downloadCnt}
              ,UPDT_UID = #{updtUid}
              ,UPDT_DT = NOW()
         WHERE FILE_ID = #{fileId}
    </update>
</mapper>