<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hong.CashGuard.domain.user.domain.CgUserMapper">

    <select id="findUserByUserId" parameterType="String" resultType="CgUserView">
        /* cgUser.findUserByUserId */
        SELECT UID
              ,USER_ID
              ,PASSWORD
              ,USER_NM
              ,USER_TEL
              ,USER_EMAIL
              ,LAST_CONN_DT
              ,LAST_PASSWD_CHNG_DT
              ,PROFILE_UID
              ,IS_ENABLE
              ,PWD_FAIL_CNT
              ,IS_LOCKED
              ,ROLE
          FROM CASH_GUARD.CG_USER
         WHERE USER_ID = #{userId}
    </select>

    <select id="findUserByUserEmail" parameterType="String" resultType="CgUserView">
        /* cgUser.findUserByUserEmail */
        SELECT UID
              ,USER_ID
              ,PASSWORD
              ,USER_NM
              ,USER_TEL
              ,USER_EMAIL
              ,LAST_CONN_DT
              ,LAST_PASSWD_CHNG_DT
              ,PROFILE_UID
              ,IS_ENABLE
              ,PWD_FAIL_CNT
              ,IS_LOCKED
              ,ROLE
          FROM CASH_GUARD.CG_USER
         WHERE USER_EMAIL = #{userEmail}
    </select>

    <update id="updateLastLoginDtAndPwdFailCnt" parameterType="String">
        /* cgUser.updateLastLoginDtAndPwdFailCnt */
        UPDATE CASH_GUARD.CG_USER
           SET LAST_CONN_DT = NOW()
              ,PWD_FAIL_CNT = 0
         WHERE USER_ID = #{userId}
    </update>

    <update id="updatePwdFailCnt" parameterType="map">
        /* cgUser.updatePwdFailCnt */
        UPDATE CASH_GUARD.CG_USER
           SET PWD_FAIL_CNT = #{pwdFailCnt}
           <if test="pwdFailCnt != null and pwdFailCnt == 5">
              ,IS_LOCKED = 'Y'
           </if>
         WHERE USER_ID = #{userId}
    </update>

    <insert id="insert" parameterType="CgUser">
        /* cgUser.insert */
        INSERT INTO CASH_GUARD.CG_USER (
             USER_ID
            ,PASSWORD
            ,USER_NM
            ,USER_TEL
            ,USER_EMAIL
            ,LAST_CONN_DT
            ,LAST_PASSWD_CHNG_DT
            ,IS_ENABLE
            ,PWD_FAIL_CNT
            ,IS_LOCKED
            ,ROLE
            ,REG_UID
            ,REG_DT
            ,UPDT_UID
            ,UPDT_DT
        ) VALUES (
             #{userId}
            ,#{password}
            ,#{userNm}
            ,#{userTel}
            ,#{userEmail}
            ,NOW()
            ,(NOW() + INTERVAL '90' DAY)
            ,'Y'
            ,0
            ,'N'
            ,#{role}
            ,#{regUid}
            ,NOW()
            ,#{updtUid}
            ,NOW()
        )
    </insert>

    <select id="count" parameterType="CgUserParam" resultType="int">
        /* cgUser.count */
        SELECT COUNT(*)
          FROM CASH_GUARD.CG_USER
         WHERE 1=1
        <if test="userNm != null and userNm != ''">
           AND USER_NM LIKE CONCAT('%',#{userNm},'%')
        </if>
    </select>

    <select id="list" resultType="CgUserList" parameterType="CgUserParam">
        /* cgUser.list */
        SELECT UID
              ,USER_ID
              ,PASSWORD
              ,USER_NM
              ,USER_TEL
              ,USER_EMAIL
              ,LAST_CONN_DT
              ,LAST_PASSWD_CHNG_DT
              ,PROFILE_UID
              ,IS_ENABLE
              ,PWD_FAIL_CNT
              ,IS_LOCKED
              ,ROLE
          FROM CASH_GUARD.CG_USER
         WHERE 1=1
        <if test="userNm != null and userNm != ''">
           AND USER_NM LIKE CONCAT('%',#{userNm},'%')
        </if>
    </select>

    <select id="page" resultType="CgUserList" parameterType="CgUserParam">
        /* cgUser.page */
        SELECT UID
              ,USER_ID
              ,PASSWORD
              ,USER_NM
              ,USER_TEL
              ,USER_EMAIL
              ,LAST_CONN_DT
              ,LAST_PASSWD_CHNG_DT
              ,PROFILE_UID
              ,IS_ENABLE
              ,PWD_FAIL_CNT
              ,IS_LOCKED
              ,ROLE
           FROM CASH_GUARD.CG_USER
          WHERE 1=1
        <if test="userNm != null and userNm != ''">
            AND USER_NM LIKE CONCAT('%',#{userNm},'%')
        </if>
          ORDER BY REG_DT DESC
        <if test="startNumber != null and endNumber != null">
          LIMIT #{endNumber} OFFSET #{startNumber}
        </if>
    </select>

    <select id="view" parameterType="Long" resultType="CgUser">
        /* cgUser.view */
        SELECT UID
              ,USER_ID
              ,PASSWORD
              ,USER_NM
              ,USER_TEL
              ,USER_EMAIL
              ,LAST_CONN_DT
              ,LAST_PASSWD_CHNG_DT
              ,PROFILE_UID
              ,IS_ENABLE
              ,PWD_FAIL_CNT
              ,IS_LOCKED
              ,ROLE
              ,REG_UID
              ,REG_DT
              ,UPDT_UID
              ,UPDT_DT
          FROM CASH_GUARD.CG_USER
         WHERE UID = #{uid}
    </select>

    <update id="update" parameterType="CgUser">
        /* cgUser.update */
        UPDATE CASH_GUARD.CG_USER
           SET USER_NM = #{userNm}
              ,USER_TEL = #{userTel}
              ,USER_EMAIL = #{userEmail}
              ,UPDT_UID = #{updtUid}
              ,UPDT_DT = NOW()
           <if test="password != null and password != ''">
              ,PASSWORD = #{password}
           </if>
         WHERE UID = #{uid}
    </update>

    <update id="updateLastPasswdChngDt" parameterType="CgUser">
        /* cgUser.updateLastPasswdChngDt */
        UPDATE CASH_GUARD.CG_USER
           SET LAST_PASSWD_CHNG_DT = (NOW() + INTERVAL '90' DAY)
              ,UPDT_UID = #{updtUid}
              ,UPDT_DT = NOW()
            <if test="password != null and password != ''">
              ,PASSWORD = #{password}
            </if>
         WHERE USER_ID = #{userId}
    </update>

    <update id="updateUserToUnLock" parameterType="CgUser">
        /* cgUser.updateUserToUnLock */
        UPDATE CASH_GUARD.CG_USER
           SET IS_LOCKED = 'N'
              ,UPDT_UID = #{updtUid}
              ,UPDT_DT = NOW()
         WHERE UID = #{uid}
    </update>

    <update id="updateUserIsEnable" parameterType="CgUser">
        /* cgUser.updateUserIsEnable */
        UPDATE CASH_GUARD.CG_USER
           SET IS_ENABLE = #{isEnable}
              ,UPDT_UID = #{updtUid}
              ,UPDT_DT = NOW()
         WHERE UID = #{uid}
    </update>

    <select id="checkIfAuthUser" parameterType="String" resultType="boolean">
        /* cgUser.checkIfAuthUser */
        SELECT CASE WHEN COUNT(*) > 0 THEN true ELSE false END
          FROM CASH_GUARD.CG_USER
         WHERE USER_EMAIL = #{userEmail}
    </select>
</mapper>